<div class="container mx-auto p-6 bg-gray-100 min-h-screen flex items-center justify-center">
  <div class="w-6/12 mx-auto bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-4xl font-bold mb-6 text-center">新規会員登録</h1>
    <%= form_with(model: @user, url: signup_index_path, method: :post, local: true, html: { class: 'max-w-md mx-auto' }) do |form| %>
      <% if @user.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
          <h2 class="font-semibold"><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

          <ul class="list-disc pl-5">
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :name, class: 'block text-gray-700 font-bold mb-2' %>
        <%= form.text_field :name, class: 'w-full p-2 border rounded shadow appearance-none focus:outline-none focus:shadow-outline' %>
      </div>

      <div class="mb-4">
        <p class="block font-medium text-sm text-gray-600">アバター</p>
        <div id="avatarPreview"></div>
        <%= form.hidden_field :avatar, id: "hiddenAvatarField", value: "public/default_avatar.png" %>
      </div>

      <div class="mb-4">
        <%= form.submit class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
      </div>
    <% end %>
  </div>
</div>
