<div id="<%= dom_id user %>" class="bg-white shadow-md rounded px-6 py-4 mb-4">
  <p class="mb-2">
    <strong class="text-gray-700">Email:</strong>
    <%= user.email %>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Password:</strong>
    <%= user.password %>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Password confirmation:</strong>
    <%= user.password_confirmation %>
  </p>

  <p class="mb-2">
    <strong class="text-gray-700">Name:</strong>
    <%= user.name %>
  </p>
</div>
