<div class="min-h-screen flex flex-col items-center justify-center bg-cover bg-center mt-10 lg:mt-20" style="background-image: url('<%= asset_path('HomeTop.png') %>');">
  <div class="text-center">
    <div class="flex flex-col mb-16 lg:flex-row mb-1">
      <h1 class="text-6xl font-bold text-white mb-16 lg:mb-10 ml-8 pr-4">Welcome To</h1>
      <h1 class="text-6xl font-bold text-black mb-10 lg:ml-8 pr-4">Face</h1>
      <h1 class="text-6xl font-bold text-white mb-10">World</h1>
    </div>
    <div class="flex justify-center ">
      <% if logged_in? === false %>
        <%= button_to 'ゲスト', guest_login_path, method: :post, class: 'bg-red-500 hover:bg-red-600 shadow-xl shadow-red-700/50 text-white py-3 px-6 rounded-full font-semibold text-xl ' %>
      <% else %>
        <%= link_to 'マイヒストリー', user_path(current_user.id), class: 'bg-red-500 hover:bg-red-600 shadow-xl shadow-red-700/50 text-white py-3 px-6 pt-4 rounded-full font-semibold text-lg ' %>
      <% end %>
      <%= link_to '撮影', photos_capture_path, class: 'bg-blue-500 hover:bg-blue-600 shadow-xl shadow-blue-700/50 text-white py-3 px-6 rounded-full font-semibold text-xl'  %>
      <%= link_to '投稿一覧', posts_path, class: 'bg-green-500 hover:bg-green-600 shadow-xl shadow-green-700/50 text-white py-3 px-6 rounded-full font-semibold text-xl' %>
    </div>
  </div>
</div>
