<div class="h-hull mt-3 ">
  <div class="w-full flex justify-center text-center bg-yellow-300 p-6 mb-3 ">
    <%= image_tag "light.png", class:"w-10 h-10"%>
    <h2 class="font-bold text-xl pt-1 pr-3">あなたの診断結果は...</h2>
    <h2 class="font-bold text-3xl pt-1">【<%= @emotions_comment %>】</h2>
  </div>
  <%= form_with model:Post.new,url: posts_path, local: true do |form| %>
    <div class="mx-3 bg-white rounded-lg shadow-lg bg-yellow-100">
      <div class="h-full flex-grow flex flex-row p-6">
        <div class="flex justify-center items-center w-1/2 border-r-2">
          <div class="w-3/4 h-3/4 rounded-full relative shadow-md">
            <%= image_tag @image, class: "w-full h-full rounded-full" %>
          </div>
        </div>
        <div class="w-1/2 pl-8 pr-8">
            <div class="mb-4 text-right">
              <div class="text-3xl border-b-4 border-blue-400 pb-2 font-bold">感情パーセンテージ</div>
            </div>
            <div class="mb-4">
              <%= content_tag :div, id: 'emotion-chart', data: { emotions: @data.to_json } do %><% end %>
            </div>
        </div>
      </div>

      <div class="container h-full flex flex-row  p-4 mt-4 mx-auto bg-orange-400">
        <div class="bg-orange-200 rounded flex-grow flex flex-col items-center ">
          <div class="text-white font-bold mb-2 text-xl">採点</div>
          <div class="text-6xl text-white"><%= @score %></div>
        </div>
        <div class="flex-grow flex flex-col items-center justify-center">
          <div class="text-white font-bold mb-2 text-xl">コメント</div>
            <%= form.text_field :content, class: "w-64 h-32 rounded-lg text-black text-4xl" %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :analyse_face_detail_id, value: @analyse_face_dateil.id %>
            <%= form.hidden_field :analyse_face_emotion_id, value: @analyse_face_emotion.id %>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center  mb-4">
      <% if current_user.role === "guest_user" %>
        <div class="flex item-center justify-center mt-5 bg-lime-100 p-5 rounded-lg shadow-2xl">
          <%= link_to 'ログイン', login_path, class:"text-lime-600 font-bold text-3xl" %>
          <p class="ml-3 pt-2 text-black">すると投稿できます！</p>
        </div>
      <% end %>
    </div>
    <div class="fixed bottom-0  w-full z-50 flex justify-center items-center bg-gray-200 py-2 px-4 shadow-md">
      <%= form.submit '投 稿', class: "bg-white border-2 border-black text-xl px-16 py-2 rounded shadow-lg transform transition-transform hover:scale-105" %>
      <%= link_to 'シェア', '#', class: "bg-white border-2 border-black text-xl px-16 py-2 ml-5 rounded shadow-lg transform transition-transform hover:scale-105" %>
    </div>
  <% end %>
</div>