<div class="h-hull mt-20">
  <%= form_with model:Post.new,url: posts_path, local: true do |form| %>
    <div class="bg-yellow-100">
      <div class="mx-3 flex justify-center rounded-lg ">
        <%= image_tag @image, class: "w-[50%] h-[50%] rounded-lg" %>
      </div>
      <div class="w-full flex justify-center text-center bg-yellow-300 p-6 mt-7 mb-7 ">
        <%= image_tag "light.png", class:"w-20 h-20"%>
        <h2 class="font-bold text-3xl pt-1 pr-3">あなたの診断結果は...</h2>
        <h2 class="font-bold text-5xl pt-1">【<%= @analyse_face_emotion.emotion_comment %>】</h2>
      </div>
    </div>
    <div class="flex ">
      <div class="w-3/5 p-5 border-r-2 ml-10">
          <div class="mb-4 text-right">
            <div class="text-3xl border-b-4 border-blue-400 pb-2 font-bold">感情パーセンテージ</div>
          </div>
          <div class="mb-4">
            <%= content_tag :div, id: 'emotion-chart', data: { emotions: @data.to_json } do %><% end %>
          </div>
      </div>
      <div class="w-2/5 p-4 border-2 border-gray-500 rounded-lg flex flex-col items-center justify-center">
        <div class="text-xl tblack mt-1">目の開き</div>
        <div class="text-5xl text-black font-bold mt-4 mb-16"><%= @analyse_face_detail.eye_open_judge %></div>
        <div class="flex justify-between w-full">
          <div class="text-xl text-black">目線（上下）</div>
          <div class="text-xl text-black font-bold">笑顔スコア</div>
          <div class="text-xl text-black">目線（左右）</div>
        </div>
        <div class="flex items-center justify-center w-full mt-1">
          <div class="flex-1 text-center text-5xl text-black font-bold mr-5"><%= @analyse_face_detail.eye_direction_pitch_description %></div>
          <div class="flex-1 text-center text-[140px] text-red-600 font-bold rounded-full  shadow-2xl border-2 border-black px-4 py-2"><%= @analyse_face_emotion.score %></div>
          <div class="flex-1 text-center text-5xl text-black font-bold ml-5"><%= @analyse_face_detail.eye_direction_yaw_description %></div>
        </div>
        <div class="text-5xl text-black font-bold mt-16"><%= @analyse_face_detail.age_range %></div>
        <div class="text-xl text-black mt-4">顔年齢</div>
      </div>
    </div>

    <div class="flex-grow flex flex-col items-center justify-center mb-[100px]">
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.hidden_field :photo_id, value: @photo.id %>
      <%= form.hidden_field :analyse_face_detail_id, value: @analyse_face_detail.id %>
      <%= form.hidden_field :analyse_face_emotion_id, value: @analyse_face_emotion.id %>
    </div>
    <% if current_user.role == "guest_user" %>
      <div class="fixed bottom-0  w-full z-50 flex justify-center items-center bg-gray-200 py-2 px-4 shadow-md">
        <div class="flex items-center justify-cente">
          <div class="flex item-center justify-center  mx-5  bg-lime-100 p-3 mb-3 rounded-lg shadow-2xl shadow-lime-900/100">
            <%= link_to 'SignUp', login_path, class:"text-lime-600 font-bold text-3xl" %>
            <p class="ml-3 pt-2 text-black">すると投稿できます！</p>
          </div>
          <div class="flex item-center justify-center  mx-5 bg-lime-100 p-3 mb-3 rounded-lg shadow-2xl shadow-lime-900/100">
            <%= link_to 'Home', root_path, class:"text-lime-600 font-bold text-3xl ml-3" %>
            <p class="ml-3 pt-2 text-black">に戻ります</p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="fixed bottom-0  w-full z-50 flex justify-center items-center bg-gray-200 py-2 px-4 shadow-md">
        <%= form.submit '投 稿', class: "bg-white border-2 border-black text-xl px-16 py-2 ml-5 rounded shadow-lg transform transition-transform hover:scale-105" %>
        <%= link_to "シェア", "https://twitter.com/share?url=#{ request.url }&text=【君の笑顔は...】%0a%0a#{@analyse_face_emotion.score }点！", target: '_blank', class: "bg-white border-2 border-black text-xl px-16 py-2 ml-5 rounded shadow-lg transform transition-transform hover:scale-105"  %>
        <dic class="field flex justify-center item-center ml-10">
          <%= form.check_box :blur, :as => :boolean, class: " mt-1" %>
          <%= form.label :投稿時に顔写真をぼかします, class: "text-xl ml-2" %>
        </dic>
      </div>
    <% end %>
  <% end %>
</div>

