<div class="bg-white rounded-lg shadow p-2 mb-4">
  <%= link_to user_path(user) do %>
    <div class="flex items-center mb-2">
      <div class="w-16 h-16 bg-gray-200 rounded-full overflow-hidden">
        <%= image_tag (user.avatar.url), class: 'w-full h-full object-cover' %>
      </div>
      <div class="ml-4">
        <h2 class="text-xl font-bold"><%= user.name %></h2>
        <p class="text-gray-500"><%=l post.created_at, format: :short%></p>
      </div>
    </div>
  <% end %>
  <%= link_to post_path(post), class: 'ml-auto text-gray-500' do %>
    <div class="bg-gray-100 p-2 rounded-lg flex flex-col">
      <% if post.blur == false || post.user_id == current_user.id %>
        <%= image_tag post.photo.image, class: 'w-full h-64 object-cover' %>
      <% else %>
        <%= image_tag post.photo.image, class: 'w-full h-64 object-cover blur-[5px]' %>
      <% end %>
      <% data = analyse_face_emotion.emotion_data %>
        <%= content_tag :div, id: "emotion-chart-#{post.id}", data: { emotions: data.to_json, height: '350px' } do %><% end %>
    </div>
  <% end %>
</div>
