<!DOCTYPE html>
<html>
  <head>
    <title>ImproveApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= display_meta_tags(default_meta_tags) %>
  </head>

  <body>
    <% if logged_in? %>
      <%= content_tag :div, id: "already-login", data: { id: current_user.id } do %><% end %>
    <% else %>
      <div id="not-login"></div>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
